.table-container, .mobile-container{
    width: 95%;
    margin: auto;
    margin-top: 32px;

    table{
        width: 100%;
    }
}

.mat-list-container{
    background-color: #424242;
    margin: 16px 0px;
}

.list-item{
    position: absolute;
    right: 16px;
    font-weight: 100;
}



@media only screen and (max-width: 768px) {
    .hide-fullscreen{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .hide-mobile{
        display: none;
    }
}